* {
  box-sizing: border-box;
  margin: 0%;
}

/* CONTAINER PAGE */

.container {
  display: flex;
  height: 100%;
  justify-content: space-between ; 
  flex-wrap: wrap;
  align-items: center;
  background: no-repeat fixed center / cover url(img/texture_page.jpg);
}
.mid
{

width: 1300px;
  display: flex;
  flex-direction: row;
justify-content: space-between;

}

/* HEADER */
.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  border-bottom: rgb(44, 44, 44);
  box-shadow: 2px 2px 10px black;
  background-color: black;
  height: 50px;
  width: 100%;
  opacity: 0.7;
  margin-bottom: 100px;
}
.top h1 {
  margin-left: 20px;
  color: white;
}
/* ICONE Bloc */
.icon {
  padding-top: 10px;
}
.icon a {
  letter-spacing: 2px;
  text-decoration: none;
  width: 50%;
  padding: auto;
  margin-bottom: 50%;
  color: white;
  padding: auto;
  margin: 20px;
}



/* MAIN CONNEXION */
.form_connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 180px;
  padding-top: 10px;
  width: 500px;
  height: 500;
  background: rgb(0, 0, 0);
  border: 1px rgb(44, 44, 44) solid;
  border-radius: 500px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  opacity: 0.7;
}


.form_connexion input {
  margin:10 0;
  background: rgb(252, 252, 252);
  height: 50px;
  width: 200;
  opacity: 1;
  border:rgb(255, 255, 255) 2px solid;
  border-radius: 100px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  
}
.form_connexion label {
  font-size: 20px;
font-family: "Roboto Mono", monospace;
color: rgb(255, 255, 255);
margin-top: 15px;
margin-bottom: 10px;
}

.content_link{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_link a{
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  color:white;
  font-size: 12px;
  margin:3px 0;
  text-shadow: 10px 10px 10px black;
  
}
.form_connexion a:hover{
  text-decoration: underline;
  transform: scale(1.2);
 
}
/* TITRE */
.top_title
{
text-shadow: 2px 2px 20px rgb(255, 255, 255);
}

.title
{
  font-size: 50px;
  padding: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
text-shadow: 2px 2px 20px rgb(255, 255, 255);
}

/* MAIN INSCRIPTION */


.form_inscription1{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  padding: 20px;
  background-color:black;
  width: 500px;
  height: 700px;
  border: 1px rgb(44, 44, 44) solid;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  opacity: 0.7;
  
}
.form_inscription2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 20px;
  background-color:black;
  width: 500px;
  border: 1px rgb(44, 44, 44) solid;
  
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  opacity: 0.7;
 
  
  
}

.form_inscription1 label , .form_inscription2 label
{
margin-top: 15px;
font-family: "Roboto Mono", monospace;
color: white;
text-align: center;
}
.form_inscription1 input , .form_inscription2 input
{
  text-align: center;
  font-size: 20px;
  margin:auto auto;
  background: rgb(252, 252, 252);
  height: 30px;
  width: 300px;
  opacity: 1;
  border:rgb(255, 255, 255) 2px solid;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.form_inscription2 a{
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  border: white 2px solid;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 50px;
  margin: 50px;
}

.form_inscription2 legend
{
  padding: 5px 50px;
  border: 2px solid white;
  margin: 20px auto;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  
  color: white;
 
}

/* MAIN PASSWORD */
.form_pass
{
  
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 260px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 800px;
  height: 300px;
  background: rgb(0, 0, 0);
  border: 1px rgb(44, 44, 44) solid;
  border-radius: 200px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  opacity: 0.7;
  font-size: 30px;
}



.form_pass label
{
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
text-shadow: 2px 2px 20px rgb(255, 255, 255);
}

.recover_pass
{
  font-size: 25px;
margin: 20px 20px;
width: 500px;
height: 60px;
text-align: center;

}
/* BOUTTON /CHECK BOX/ FAS*/

.fas:hover{
  
text-decoration: underline;

}
input[type=radio]
{
  width: 15px;
  height: 5;
}

input[type=submit]{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    border: white 2px solid;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 50px;
}
.form_inscription1 button[type=submit],.form_inscription2 button[type=submit]{
  width: 200px;
  padding: 10px;
  margin:auto;
  margin-top: 20px;
}

button[type=submit]
{
  margin: 30px 30px 10px 30px;
  padding: 10 20  ;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  border: rgb(3, 3, 3) 2px solid;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 100px;
}
button[type=submit]:hover{
  border: rgb(255, 255, 255) 2px solid;
    transform: scale(1.2);
    background-color: rgb(99, 99, 99);
    transition: .8s;
}

input[type=submit]:hover{
 
    background-color: rgb(99, 99, 99);
    transition: .8s;
}



/* FOOTER */
.bot {
  
  background:rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  opacity: .7;
  box-shadow: 2px 2px 10px black;
  
}
.bot a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 50px;
}
.bot a:hover{
    text-decoration: underline;
   
}
